* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul li {
  color: #4b4d50;
  list-style: none;
  margin: 5px;
}

.pink {
  color: pink;
}

.blue {
  color: blue;
}

#ciao {
  font-size: 25px;
  font-weight: bold;
  display: none;
}
